<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>送达订单细节填写</title>
</head>
<body>
<div align="center">
    <h3>送达订单细节填写</h3>
    <table>
        <tr>
            <td>订单ID：</td>
            <td><input type="text" value="{$ret.id}" name="id" disabled="disabled"></td>
        </tr>
        <tr>
            <td>订单编号：</td>
            <td><input type="text" value="{$ret.number}" name="number" id="number" disabled="disabled"></td>
        </tr>
        <tr>
            <td>订单号：</td>
            <td><input type="text" value="{$ret.order_number}" name="order_number" id="order_number" disabled="disabled"></td>
        </tr>
        <!--商品ID-->
        <input type="hidden" value="{$ret.goods_id}" name="goods_id" id="goods_id" disabled="disabled">
        <tr>
            <td>商品：</td>
            <td><input type="text" value="{$ret.goods_name}" name="goods_name" id="goods_name" disabled="disabled"></td>
        </tr>
        <tr>
            <td>数量(kg)：</td>
            <td><input type="text" value="{$ret.goods_quantity}" name="goods_quantity" id="goods_quantity" disabled="disabled"></td>
        </tr>
        <tr>
            <td>创建时间：</td>
            <td><input type="text" value="{$ret.create_time}" name="create_time" id="create_time" disabled="disabled"></td>
        </tr>
        <tr>
            <td>出发时间：</td>
            <td><input type="text" value="{$ret.departure_time}" name="departure_time" id="departure_time" disabled="disabled"></td>
        </tr>
        <!--车辆ID-->
        <input type="hidden" value="{$ret.car_id}" name="car_id" id="car_id" disabled="disabled">
        <tr>
            <td>车牌号：</td>
            <td><input type="text" value="{$ret.car_plate}" name="car_plate" id="car_plate" disabled="disabled"></td>
        </tr>
        <tr>
            <td>目的地：</td>
            <td><input type="text" value="{$ret.destination}" name="destination" id="destination" disabled="disabled"></td>
        </tr>
        <tr>
            <td>订单状态：</td>
            <td>
                <select name="order_status">
                    <option value ="0" disabled="disabled">未接单</option>
                    <option value ="1" disabled="disabled" >已接单</option>
                    <option value ="2" selected="selected">已结束</option>
                </select>
            </td>
        </tr>
        <!--司机ID-->
        <input type="hidden" value="{$ret.id}" name="driver_id" id="driver_id" disabled="disabled">
        <tr>
            <td>司机编号：</td>
            <td><input type="text" value="{$ret.number}" name="driver_number" id="driver_number" disabled="disabled"></td>
        </tr>
        <tr>
            <td>提货单号：</td>
            <td><input type="text"  value="{$ret.pick_number}" name="pick_number" id="pick_number" disabled="disabled"></td>
        </tr>
        <tr>
            <td>合同号：</td>
            <td><input type="text"  value="{$ret.contract_number}" name="contract_number" id="contract_number" disabled="disabled"></td>
        </tr>
        <tr>
            <td>缺货信息：</td>
            <td><input type="text"  value="{$ret.short_info}" name="short_info" id="short_info" disabled="disabled"></td>
        </tr>
        <tr>
            <td>提货数量(kg)：</td>
            <td><input type="text"  value="{$ret.pick_quantity}" name="pick_quantity" id="pick_quantity" disabled="disabled"></td>
        </tr>
        <tr>
            <td>提货时间：</td>
            <td><input type="text" value="{$ret.pick_time}"  name="pick_time" id="pick_time" disabled="disabled"></td>
        </tr>
        <tr>
            <td>结算单位：</td>
            <td><input type="text" value="{$ret.company}" name="company" id="company" disabled="disabled"></td>
        </tr>
        <tr>
            <td>实际数量(kg)：</td>
            <td><input type="number" name="real_quantity" id="real_quantity"></td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <button onclick="personalOrder.update()">提交</button>
                <button onclick="personalOrder.back()">返回</button>
            </td>
        </tr>
    </table>
</div>
<script src="/Public/js/jquery.js"></script>
<script src="/Public/js/dialog/layer.js"></script>
<script src="/Public/js/dialog.js"></script>
<script src="/Public/js/Home/personalOrder.js"></script>
</body>
</html>