<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>司机信息管理</title>
</head>
<body>
<div align="center">
    <h3>司机信息表</h3>
    <table border="1px">
        <tr>
            <td>司机ID</td>
            <td>司机编号</td>
            <td>司机账号</td>
            <td>司机密码</td>
            <td>真实姓名</td>
            <td>头像路径</td>
            <td>创建记录时间</td>
            <td>修改记录时间</td>
            <td>操作</td>
        </tr>
        <!--volist标签通常用于查询数据集（select方法）的结果输出，通常模型的select方法返回的结果是一个二维数组，可以直接使用volist标签进行输出。-->
        <volist name="ret" id="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.number}</td>
                <td>{$vo.account}</td>
                <td>{$vo.password}</td>
                <td>{$vo.name}</td>
                <td>{$vo.image}</td>
                <td>{$vo.create_time}</td>
                <td>{$vo.update_time}</td>
                <td>
                    <!--1.通过<a>标签   2.window.location.href="/admin.php/Driver";
                        才可以跳转到<iframe>页面-->
                    <button><a href="/admin.php/Driver/update?id={$vo.id}">修改</a></button>
                    <button><a onclick="driver.delete('{$vo.id}')">删除</a></button>
                </td>
            </tr>
        </volist>
    </table>
</div>
<script src="/Public/js/jquery.js"></script>
<script src="/Public/js/dialog/layer.js"></script>
<script src="/Public/js/dialog.js"></script>
<script src="/Public/js/Admin/driver.js"></script>
</body>
</html>