<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>权限信息管理</title>
    <link rel="stylesheet" href="__PUBLIC__/css/admin/align.css">
</head>
<body>
<div align="center">
    <h3>权限信息表</h3>
    <table border="1px">
        <tr>
            <td>权限ID</td>
            <td>权限名</td>
            <td>创建记录时间</td>
        </tr>
        <!--volist标签通常用于查询数据集（select方法）的结果输出，通常模型的select方法返回的结果是一个二维数组，可以直接使用volist标签进行输出。-->
        <volist name="ret" id="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.permission}</td>
                <td>{$vo.create_time}</td>
            </tr>
        </volist>
    </table>
</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/dialog/layer.js"></script>
<script src="__PUBLIC__/js/dialog.js"></script>
</body>
</html>