<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>录入角色</title>
</head>
<body>
<div align="center">
    <h4>录入角色功能</h4>
    <table>
        <tr>
            <td>角色名：</td>
            <td>
                <input type="text" name="name" id="name"/>
            </td>
        </tr>
        <tr>
            <td>请选择权限：</td>
            <td>
                <volist name="ret" id="vo">
                <input type="checkbox" name="role" value="{$vo.id}"/>{$vo.permission}
                </volist>
            </td>
        </tr>
        <tr align="center">
            <td colspan="2"><input type="button" value="录入" onclick="role.add()" /><input type="button" value="返回" onclick="role.back()"/></td>
        </tr>
    </table>
</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/Admin/role.js"></script>
<script src="__PUBLIC__/js/dialog/layer.js"></script>
<script src="__PUBLIC__/js/dialog.js"></script>
</body>
</html>