<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色/用户权限管理页面</title>
</head>
<body>
<div align="center">
    <h3>角色/用户权限管理表</h3>
    <button><a href="/admin.php/Role/add">录入</a></button>
    <table border="1px">
        <tr>
            <td>权限ID</td>
            <td>角色名</td>
            <td>排队管理权限</td>
            <td>司机管理权限</td>
            <td>油品管理权限</td>
            <td>用户管理权限</td>
            <td>角色管理权限</td>
            <td>日志管理权限</td>
            <td>公告管理权限</td>
            <td>创建时间</td>
            <td>修改时间</td>
            <td>操作</td>
        </tr>
        <!--volist标签通常用于查询数据集（select方法）的结果输出，通常模型的select方法返回的结果是一个二维数组，可以直接使用volist标签进行输出。-->
        <volist name="ret" id="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.order_manage}</td>
                <td>{$vo.driver_manage}</td>
                <td>{$vo.oil_manage}</td>
                <td>{$vo.user_manage}</td>
                <td>{$vo.role_manage}</td>
                <td>{$vo.log_manage}</td>
                <td>{$vo.notice_manage}</td>
                <td>{$vo.create_time}</td>
                <td>{$vo.update_time}</td>
                <td>
                    <button><a href="/admin.php/Role/update?id={$vo.id}">修改</a></button>
                    <button><a onclick="dialog.confirmRole('是否确定删除？','{$vo.id}')">删除</a></button>
                </td>
            </tr>
        </volist>
    </table>
</div>
<script src="/Public/js/jquery.js"></script>
<script src="/Public/js/dialog/layer.js"></script>
<script src="/Public/js/dialog.js"></script>
</body>
</html>