<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改权限信息</title>
</head>
<body>
<div align="center">
    <table>
        <tr>
            <td>权限ID：</td>
            <td><input type="text" value="{$ret.id}" name="id" disabled="disabled"></td>
        </tr>
        <tr>
            <td>角色名：</td>
            <td><input type="text" value="{$ret.name}" name="name" id="name"></td>
        </tr>
        <tr>
            <td>请选择权限：</td>
            <td>
                <eq name="ret.order_manage" value="1">
                    <input type="checkbox" name="role" value="order_manage" checked="checked"/>排队管理权限
                <else/>
                    <input type="checkbox" name="role" value="order_manage" />排队管理权限
                </eq>
                <eq name="ret.driver_manage" value="1">
                    <input type="checkbox" name="role" value="driver_manage" checked="checked"/>司机管理权限
                <else/>
                    <input type="checkbox" name="role" value="driver_manage"/>司机管理权限
                </eq>
                <eq name="ret.oil_manage" value="1">
                    <input type="checkbox" name="role" value="oil_manage" checked="checked"/>油品管理权限
                    <else/>
                    <input type="checkbox" name="role" value="oil_manage"/>油品管理权限
                </eq>
                <eq name="ret.user_manage" value="1">
                    <input type="checkbox" name="role" value="user_manage" checked="checked"/>用户管理权限
                    <else/>
                    <input type="checkbox" name="role" value="user_manage"/>用户管理权限
                </eq>
                <eq name="ret.role_manage" value="1">
                    <input type="checkbox" name="role" value="role_manage" checked="checked"/>角色管理权限
                <else/>
                    <input type="checkbox" name="role" value="role_manage"/>角色管理权限
                </eq>
                <eq name="ret.log_manage" value="1">
                <input type="checkbox" name="role" value="log_manage" checked="checked"/>日志管理权限
                <else/>
                    <input type="checkbox" name="role" value="log_manage"/>日志管理权限
                </eq>
                <eq name="ret.notice_manage" value="1">
                    <input type="checkbox" name="role" value="notice_manage" checked="checked"/>公告管理权限
                    <else/>
                    <input type="checkbox" name="role" value="notice_manage"/>公告管理权限
                </eq>
            </td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <button onclick="role.update()">修改</button>
                <button onclick="role.back()">返回</button>
            </td>
        </tr>
    </table>
</div>
<script src="/Public/js/jquery.js"></script>
<script src="/Public/js/Admin/role.js"></script>
<script src="/Public/js/dialog/layer.js"></script>
<script src="/Public/js/dialog.js"></script>
</body>
</html>