<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改角色信息</title>
</head>
<body>
<div align="center">
    <table>
        <tr>
            <td>角色ID：</td>
            <td><input type="text" value="{$ret.id}" name="id" disabled="disabled"></td>
        </tr>
        <tr>
            <td>角色名：</td>
            <td><input type="text" value="{$ret.name}" name="name" id="name"></td>
        </tr>
        <tr>
            <td>请选择权限：</td>
            <td>
                <volist name="per" id="vo">
                    <in name="vo.id" value="$permission">
                        <input type="checkbox" name="role" value="{$vo.id}" checked="checked"/>{$vo.permission}
                        <else/>
                        <input type="checkbox" name="role" value="{$vo.id}"/>{$vo.permission}
                    </in>
                </volist>
            </td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <button onclick="role.update()">修改</button>
                <button onclick="role.updateBack()">返回</button>
            </td>
        </tr>
    </table>
</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/Admin/role.js"></script>
<script src="__PUBLIC__/js/dialog/layer.js"></script>
<script src="__PUBLIC__/js/dialog.js"></script>
</body>
</html>