<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车辆预约系统</title>
</head>
<body>
<div align="center">
    <h1>车辆预约系统</h1>
    <!--输出$_SESSION['adminUser']变量-->
    <if condition="$Think.session.adminUser.account neq null">
    <p>欢迎，{$Think.session.adminUser.account}！</p>
<!--    　1、用a标签的target属性。
    2、跳转是用a标签的href传递参数，在含有iframe页面中用jquery接收判断传递过来的参数，然后获取iframe的id，根据参数设置iframe的src,显示指定的页面。-->
    <nav>
        <button><a href="/admin.php/Order" target="iframe">排队信息管理</a></button>
        <button><a href="/admin.php/Driver" target="iframe">司机信息管理</a></button>
        <button><a href="/admin.php/Oil" target="iframe" >油品信息管理</a></button>
        <button><a href="/admin.php/User" target="iframe" >用户信息管理</a></button>
        <button><a href="/admin.php/Role" target="iframe">角色权限管理</a></button>
        <button><a href="/admin.php/Log" target="iframe">操作日志管理</a></button>
        <button><a href="/admin.php/Notice" target="iframe">公告内容管理</a></button>
        <button><a href="/admin.php/Admin" target="iframe">修改密码</a></button>
        <button><a href="/admin.php/Login/loginout">退出登陆</a></button>
    </nav>
    </div>
    <iframe src="/admin.php/Order" scrolling="auto" name="iframe" frameborder="0" width="100%" height="600">
    </iframe>
    <else/>
        <p>欢迎，{$Think.session.User.name}！</p>
        <!--<foreach name="Think.session.adminUser" item="vo">
            {$key}|{$vo}<br>
        </foreach>-->
        <nav>
            <eq name="role.order_manage" value="1">
            <button><a href="/admin.php/Order" target="iframe">排队信息管理</a></button>
            </eq>
            <eq name="role.driver_manage" value="1">
            <button><a href="/admin.php/Driver" target="iframe">司机信息管理</a></button>
            </eq>
            <eq name="role.oil_manage" value="1">
            <button><a href="/admin.php/Oil" target="iframe" >油品信息管理</a></button>
            </eq>
            <eq name="role.user_manage" value="1">
            <button><a href="/admin.php/User" target="iframe" >用户信息管理</a></button>
            </eq>
            <eq name="role.role_manage" value="1">
            <button><a href="/admin.php/Role" target="iframe">角色权限管理</a></button>
            </eq>
            <eq name="role.log_manage" value="1">
            <button><a href="/admin.php/Log" target="iframe">操作日志管理</a></button>
            </eq>
            <eq name="role.notice_manage" value="1">
                <button><a href="/admin.php/Notice" target="iframe">公告内容管理</a></button>
            </eq>
            <button><a href="/admin.php/Login/loginout">退出登陆</a></button>
        </nav>
    </div>
    <iframe src="{$src}" scrolling="auto" name="iframe" frameborder="0" width="100%" height="600">
    </iframe>
    </if>
</body>
</html>