<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车辆预约系统</title>
</head>
<body>
<div align="center">
    <h1>车辆预约系统</h1>
    <!--输出$_SESSION['adminUser']变量-->
    <if condition="$Think.session.adminUser.account neq null">
    <p>欢迎，{$Think.session.adminUser.account}！</p>
<!--    　1、用a标签的target属性。
    2、跳转是用a标签的href传递参数，在含有iframe页面中用jquery接收判断传递过来的参数，然后获取iframe的id，根据参数设置iframe的src,显示指定的页面。-->
    <nav>
        <!--模板中的{}代表<?php ?>，:U代表使用U方法-->
        <button><a href="{:U('Order/index')}" target="iframe">排队信息管理</a></button>
        <button><a href="{:U('Driver/index')}" target="iframe">司机信息管理</a></button>
        <button><a href="{:U('Oil/index')}" target="iframe" >油品信息管理</a></button>
        <button><a href="{:U('User/index')}" target="iframe" >用户信息管理</a></button>
        <button><a href="{:U('Role/index')}" target="iframe">角色信息管理</a></button>
        <button><a href="{:U('Permission/index')}" target="iframe">权限信息管理</a></button>
        <button><a href="{:U('Log/index')}" target="iframe">操作日志管理</a></button>
        <button><a href="{:U('Notice/index')}" target="iframe">公告内容管理</a></button>
        <button><a href="{:U('Admin/index')}" target="iframe">修改密码</a></button>
        <button><a href="{:U('Login/loginout')}">退出登陆</a></button>
    </nav>
    </div>
    <iframe src="{:U('Order/index')}" scrolling="auto" name="iframe" frameborder="0" width="100%" height="600">
    </iframe>
    <else/>
        <p>欢迎，{$Think.session.User.name}！</p>
        <!--<foreach name="Think.session.adminUser" item="vo">
            {$key}|{$vo}<br>
        </foreach>-->
        <nav>
            <foreach name="permission" item="vo">
                <eq name="vo" value="1">
                <button><a href="{:U('Order/index')}" target="iframe">排队信息管理</a></button>
                </eq>
                <eq name="vo" value="2">
                <button><a href="{:U('Driver/index')}" target="iframe">司机信息管理</a></button>
                </eq>
                <eq name="vo" value="3">
                <button><a href="{:U('Oil/index')}" target="iframe" >油品信息管理</a></button>
                </eq>
                <eq name="vo" value="4">
                <button><a href="{:U('User/index')}" target="iframe" >用户信息管理</a></button>
                </eq>
                <eq name="vo" value="5">
                <button><a href="{:U('Role/index')}" target="iframe">角色信息管理</a></button>
                </eq>
                <eq name="vo" value="6">
                <button><a href="{:U('Permission/index')}" target="iframe">权限信息管理</a></button>
                </eq>
                <eq name="vo" value="7">
                <button><a href="{:U('Log/index')}" target="iframe">操作日志管理</a></button>
                </eq>
                <eq name="vo" value="8">
                    <button><a href="{:U('Notice/index')}" target="iframe">公告内容管理</a></button>
                </eq>
            </foreach>
            <button><a href="{:U('Login/loginout')}">退出登陆</a></button>
        </nav>
    </div>
    <iframe src="{$src}" scrolling="auto" name="iframe" frameborder="0" width="100%" height="600">
    </iframe>
    </if>
</body>
</html>