<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title>我的信息</title>
	<script type="text/javascript" src="__PUBLIC__/js/home/js/flexible.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/myInfo.css">


	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/weui.min.css">

</head>
<body>
	<div id="main">
		<div class="con">
			<div class="line">
				<span>真实姓名</span>
				<input type="text"  class="weui-input" value="{$driver.name}" name="name">
			</div>
			<div class="line">
				<span>联系电话</span>
				<input type="tel"  class="weui-input"  value="{$driver.phone}" name="phone">
			</div>
			<div class="line">
				<span>车牌号</span>
				<input type="text"  class="weui-input"  value="{$driver.plate}" name="plate">
			</div>
			<div class="line">
				<span>公司名称</span>
				<input type="text"  class="weui-input"  value="{$driver.company}" name="company">
			</div>
		</div>
		<div class="subBtn" onclick="personalCenter.update()">确定修改</div>
	</div>
</body>
	<script type="text/javascript" src="__PUBLIC__/js/home/vue.min.js"></script>
	<script src="__PUBLIC__/js/home/jquery.min weui.js"></script>
	<script src="__PUBLIC__/js/home/jquery-weui.min.js"></script>
    <script src="__PUBLIC__/js/dialog/layer.js"></script>
    <script src="__PUBLIC__/js/dialog.js"></script>
	<script src="__PUBLIC__/js/home/personalCenter.js"></script>

</html>