<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title>预约记录</title>
	<script type="text/javascript" src="__PUBLIC__/js/home/js/flexible.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/yuyuejilu.css">


	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/jquery-weui.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/weui.min.css">

</head>
<body>
	<div id="main">
		<volist name="ret" id="vo">
			<div class="line">
				<div class="lineTop">
					<span class="time">{$vo.create_time}</span>
					<eq name="vo.order_status" value="0">
						<span class="statu">已装</span>
						<else/>
						<eq name="vo.order_status" value="1">
							<span class="statu ing">装车中</span>
							<else/>
							<eq name="vo.order_status" value="2">
								<span class="statu cq">厂区待装</span>
								<else/>
								<span class="statu">厂外待装</span>
							</eq>
						</eq>
					</eq>
				</div>
				<div class="lineCon">
					<span class="lineCon-left">油品类型</span>
					<span class="lineCon-right">{$vo.oil_name}</span>
				</div>
				<div class="lineCon">
					<span class="lineCon-left">车牌号码</span>
					<span class="lineCon-right">{$vo.plate}</span>
				</div>
				<div class="lineCon">
					<span class="lineCon-left">公司名称</span>
					<span class="lineCon-right">{$vo.company}</span>
				</div>
				<div class="lineCon">
					<span class="lineCon-left">真实姓名</span>
					<span class="lineCon-right">{$vo.name}</span>
				</div>
				<div class="lineCon">
					<span class="lineCon-left">联系电话</span>
					<span class="lineCon-right">{$vo.phone}</span>
				</div>
			</div>
		</volist>
	</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/home/vue.min.js"></script>

</html>