<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta http-equiv="refresh" content="0; url="> -->
    <!--页面定期刷新，如果加url的，则会重新定向到指定的网页，content后面跟的是时间（单位秒）-->
	<meta http-equiv="refresh" content="60">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title>车辆运货预约</title>
	<script type="text/javascript" src="/laijunqiang/vehicle_reservation_system/Public/js/home/js/flexible.js"></script>
	<link rel="stylesheet" type="text/css" href="/laijunqiang/vehicle_reservation_system/Public/css/home/index.css">


	<link rel="stylesheet" type="text/css" href="/laijunqiang/vehicle_reservation_system/Public/css/home/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="/laijunqiang/vehicle_reservation_system/Public/css/home/weui.min.css">

</head>
<!-- <style>
	#top{
		height:6rem;
	}
</style> -->
<body>
		<div id="main">
			<div id="box" class="box" v-show="boxDp">
			    <div id="wrap" class="wrap">
			        <div id="start" class="start">
			            <span>告示：</span>{$content}
			        </div>
			    </div>
			</div>
			<div id="top">
				<img src="/laijunqiang/vehicle_reservation_system/Public/images/banner.png" class="topImg">
				<neq name="oilName" value="">
                    <p style="text-align: center;color: #333;height: 0.7rem;line-height: 0.7rem;font-size: .4rem; background-color: #fff;width: 90%;margin: 0 auto;padding: .1rem .2rem;">{$oilName}装车排队情况</p>
                    <else/>
                    <p style="text-align: center;color: #333;height: 0.7rem;line-height: 0.7rem;font-size: .4rem; background-color: #fff;width: 90%;margin: 0 auto;padding: .1rem .2rem;">{$name[0]}装车排队情况</p>
                </neq>
				<div class="search">
					<div class="searchCon">
						<!-- <span class="sx" @click="sxBtn">筛选</span> -->
						<input type="text" placeholder="请输入你想搜索的内容" class="weui-input" name="search" value="{$search}">
						<span class="icon-search"></span>
						<div class="refresh">
							<span class="icon-refresh" ></span>
						</div>
					</div>
				</div>

				<div class="search" >
					<div class="searchCon-right">
						<select id="sel" name="oil_type">
                            <option value="">请选择</option>
                            <eq name="type" value="芳香烃">
                                <option value="芳香烃" selected="selected">芳香烃</option>
							    <else/><option value="芳香烃">芳香烃</option>
                            </eq>
                            <eq name="type" value="烷烃">
                                <option value="烷烃" selected="selected">烷烃</option>
                                <else/><option value="烷烃">烷烃</option>
                            </eq>
                            <eq name="type" value="烯烃">
                                <option value="烯烃" selected="selected">烯烃</option>
                                <else/><option value="烯烃">烯烃</option>
                            </eq>
                            <eq name="type" value="炔烃">
                                <option value="炔烃" selected="selected">炔烃</option>
                                <else/><option value="炔烃">炔烃</option>
                            </eq>
						</select>
					</div>
					<div class="searchCon-right">
						<select id="sel"  v-model="proName" name="oil_name" >
							<eq name="name" value="">
                                <option>请选择类型</option>
                            <else/>
                                <foreach name="name" item="vo">
                                    <eq name="vo" value="$oilName">
                                        <option value="{$vo}" selected="selected">{$vo}</option>
                                        <else/>
                                        <option value="{$vo}">{$vo}</option>
                                    </eq>
                                </foreach>
                            </eq>
						</select>
					</div>
				</div>


			</div>
			<div class="list" style="height:6.5rem">
				<volist name="order" id="vo">
                    <eq name="vo.order_number" value="1">
                        <div class="line">
                            <span class="num numIng" >1</span>
                                <span class="chepai">{$vo.plate}</span>
                                <span class="statu ing" >装车中</span>
                        </div>
                        <else/>
                        <eq name="vo.order_number" value="2">
                            <div class="line">
                                <span class="num numCq" >2</span>
                                    <span class="chepai">{$vo.plate}</span>
                                    <span class="statu cq" >厂区待装</span>
                            </div>
                            <else/>
                            <div class="line">
                                <span class="num" >{$vo.order_number}</span>
                                    <span class="chepai">{$vo.plate}</span>
                                    <span class="statu" >厂外待装</span>
                            </div>
                        </eq>
                    </eq>
                </volist>


			<!-- <div class="list" v-else>
					<div class="nothing">
						<img src="__PUBLIC__/Home/icon/nothing.png" alt="" />
						<p>暂无更多数据</p>
					</div>
			</div> -->
			<div id="footer">
				<a href="/laijunqiang/vehicle_reservation_system/index.php/Home/Index" class="on">
					<img src="/laijunqiang/vehicle_reservation_system/Public/images/paiduichaxun2.png" alt="">
					<p>排队查询</p>
				</a>
				<a href="/laijunqiang/vehicle_reservation_system/index.php/Home/Order">
					<img src="/laijunqiang/vehicle_reservation_system/Public/images/yuyue.png" alt="">
					<p>预约装车</p>
				</a>
				<a href="/laijunqiang/vehicle_reservation_system/index.php/Home/PersonalCenter">
					<img src="/laijunqiang/vehicle_reservation_system/Public/images/gerenzhongxin.png" alt="">
					<p>个人中心</p>
				</a>
			</div>

</div>
</body>
	<!--<script src="/Public/js/home/vue.min.js"></script>-->
	<script src="/Public/js/home/jquery.min weui.js"></script>
    <script src="/Public/js/home/jquery-weui.min.js"></script>
    <script src="/Public/js/dialog/layer.js"></script>
    <script src="/Public/js/dialog.js"></script>
    <script src="/Public/js/home/index.js"></script>
</html>