<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理</title>
</head>
<body>
<div align="center">
    <h3>用户信息表</h3>
    <button><a href="{:U('User/add')}">录入</a></button>
    <table border="1px">
        <tr>
            <td>用户ID</td>
            <td>用户账号</td>
            <td>用户名</td>
            <td>角色</td>
            <td>创建记录时间</td>
            <td>修改记录时间</td>
            <td>操作</td>
        </tr>
        <!--volist标签通常用于查询数据集（select方法）的结果输出，通常模型的select方法返回的结果是一个二维数组，可以直接使用volist标签进行输出。-->
        <volist name="ret" id="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.account}</td>
                <td>{$vo.name}</td>
                <td>{$vo.role_id}</td>
                <td>{$vo.create_time}</td>
                <td>{$vo.update_time}</td>
                <td>
                    <!--1.通过<a>标签   2.window.location.href="/admin.php/Driver";
                        才可以跳转到<iframe>页面-->
                    <button><a href="{:U('User/update',array('id'=>$vo['id']))}">修改</a></button>
                    <button><a onclick="dialog.confirmUser('是否确定删除？','{$vo.id}')">删除</a></button>
                </td>
            </tr>
        </volist>
    </table>
</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/dialog/layer.js"></script>
<script src="__PUBLIC__/js/dialog.js"></script>
</body>
</html>