<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户信息</title>
</head>
<body>
<div align="center">
    <table>
        <tr>
            <td>用户ID：</td>
            <td><input type="text" value="{$ret.id}" name="id" disabled="disabled"></td>
        </tr>
        <tr>
            <td>用户账号：</td>
            <td><input type="text" placeholder="请输入用户账号" value="{$ret.account}" name="account" id="account"></td>
        </tr>
        <tr>
            <td>用户密码：</td>
            <td><input type="password" placeholder="请输入用户密码" value="{$ret.password}"  name="password" id="password"></td>
        </tr>
        <tr>
            <td>用户名：</td>
            <td><input type="text" placeholder="请输入用户名" value="{$ret.name}"  name="name" id="name"></td>
        </tr>
        <tr>
            <td>角色：</td>
            <td>
                <select name="role">
                    <volist name="role" id="vo">
                        <eq name="vo.id" value="$ret.role_id">
                            <option value="{$vo.id}" selected="selected">{$vo.name}</option>
                        <else/>
                            <option value="{$vo.id}">{$vo.name}</option>
                        </eq>
                    </volist>
                </select>
            </td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <button onclick="user.update()">修改</button>
                <button onclick="user.updateBack()">返回</button>
            </td>
        </tr>
    </table>
</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/Admin/user.js"></script>
<script src="__PUBLIC__/js/dialog/layer.js"></script>
<script src="__PUBLIC__/js/dialog.js"></script>
</body>
</html>